Source: indicator-on-this-day
Maintainer: Bernard Giannetti <thebernmeister@hotmail.com>
Section: python
Priority: optional
Build-Depends:
 debhelper (>= 11),
 dh-python,
 python3 (>= 3.6)
Standards-Version: 4.1.3
Homepage: https://launchpad.net/~thebernmeister/+archive/ubuntu/ppa
X-Python3-Version: >= 3.6

Package: indicator-on-this-day
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 calendar,
 gir1.2-ayatanaappindicator3-0.1 | gir1.2-appindicator3-0.1,
 python3-gi,
 python3-notify2
Description: Application indicator which displays calendar events.
 A user has selects a calendar file or files, and any event which matches
 today's date is displayed in the menu and in the on-screen notification.
 The user may also show future events which are displayed in the menu.
