# To validate this file:
#   desktop-file-validate indicatoronthisday.py.desktop
#
# To install or update this file, although the
# operating system should update by default and
# certainly will update on a logout/login or restart:
#   xdg-desktop-menu install --novendor indicatoronthisday.py.desktop
[Desktop Entry]
Type=Application
Name=Indicator On This Day
Name[ru]=Индикатор событий дня
Icon=indicatoronthisday
Exec=sh -c "\$HOME/.local/bin/indicatoronthisday.sh"
Categories=Utility;Amusement
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=0