# To validate this file:
#   desktop-file-validate indicatorscriptrunner.py.desktop
#
# To install or update this file, although the
# operating system should update by default and
# certainly will update on a logout/login or restart:
#   xdg-desktop-menu install --novendor indicatorscriptrunner.py.desktop
[Desktop Entry]
Type=Application
Name=Indicator Script Runner
Name[ru]=Индикатор запуска сценариев
Icon=indicatorscriptrunner
Exec=sh -c "\$HOME/.local/bin/indicatorscriptrunner.sh"
Categories=Utility
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=0