.gitignore
.project
.pydevproject
.settings

__pycache__

indicatorfortune/src/indicatorfortune/indicatorbase.py
indicatorlunar/src/indicatorlunar/indicatorbase.py
indicatoronthisday/src/indicatoronthisday/indicatorbase.py
indicatorppadownloadstatistics/src/indicatorppadownloadstatistics/indicatorbase.py
indicatorpunycode/src/indicatorpunycode/indicatorbase.py
indicatorscriptrunner/src/indicatorscriptrunner/indicatorbase.py
indicatorstardate/src/indicatorstardate/indicatorbase.py
indicatortest/src/indicatortest/indicatorbase.py
indicatortide/src/indicatortide/indicatorbase.py
indicatorvirtualbox/src/indicatorvirtualbox/indicatorbase.py
release
