[Desktop Entry]
Type=Application
Name=Fortune Indicator
Icon=indicator-fortune
Exec=/usr/share/indicator-fortune/indicator-fortune.py
Categories=Utility;Amusement;
X-GNOME-Autostart-enabled=true
