[Desktop Entry]
Type=Application
Name=Tide Indicator
Name[ru]=Индикатор приливов
Icon=indicator-tide
Exec=/usr/share/indicator-tide/indicator-tide.py
Categories=Utility;
X-GNOME-Autostart-enabled=true
