[Desktop Entry]
Type=Application
Name=VirtualBox Indicator
Comment=Easily start VirtualBox™ virtual machines.
Icon=indicator-virtual-box
Exec=/usr/share/indicator-virtual-box/indicator-virtual-box.py
Categories=Utility;
X-GNOME-Autostart-enabled=true
