[Desktop Entry]
Name=Fortune Indicator
Comment=Fortune indicator applet
Exec=/usr/share/indicator-fortune/indicator-fortune.py
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;Amusement
Icon=indicator-fortune

