[Desktop Entry]
Type=Application
Name=Lunar Indicator
Icon=indicator-lunar
Exec=/usr/share/indicator-lunar/indicator-lunar.py
Categories=Utility;
X-GNOME-Autostart-enabled=true
