[Desktop Entry]
Type=Application
Name=PPA Download Statistics Indicator
Icon=indicator-ppa-download-statistics
Exec=/usr/share/indicator-ppa-download-statistics/indicator-ppa-download-statistics.py
Categories=Utility;
X-GNOME-Autostart-enabled=true
Name[cs]=PPA indikátor statisktik stahování