[Desktop Entry]
Name=Tide Indicator
Comment=Tide indicator applet
Exec=/usr/share/indicator-tide/indicator-tide.py
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Icon=indicator-tide
