[Desktop Entry]
Name=Script Runner Indicator
Comment=Run a terminal command or script from a GUI front-end.
Exec=/usr/share/indicator-script-runner/indicator-script-runner.py
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Icon=indicator-script-runner
