[Desktop Entry]
Name=VirtualBox Indicator
Comment=Easily start VirtualBox™ virtual machines.
Exec=/usr/share/indicator-virtual-box/indicator-virtual-box.py
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Icon=indicator-virtual-box
