[Desktop Entry]
Name=Fortune Indicator
Comment=Calls the 'fortune' program displaying the result in the on-screen notification.
Exec=/usr/share/indicator-fortune/indicator-fortune.py
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;Amusement
Icon=indicator-fortune

