[Desktop Entry]
Type=Application
Name=Test Indicator
Icon=indicator-test
Exec=/usr/share/indicator-test/indicator-test.py
Categories=Utility;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=0
