Source: indicator-tide
Maintainer: Bernard Giannetti <thebernmeister@hotmail.com>
Section: python
Priority: optional
Build-Depends:
 debhelper (>= 11),
 dh-python,
 python3 (>= 3.6)
Standards-Version: 4.1.3
Homepage: https://launchpad.net/~thebernmeister/+archive/ubuntu/ppa
X-Python3-Version: >= 3.6

Package: indicator-tide
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 gir1.2-ayatanaappindicator3-0.1 | gir1.2-appindicator3-0.1,
 python3-gi,
 python3-notify2
Description: Application indicator which displays tidal information.
 The end user must write a Python3 script to obtain the tidal data.
