[Desktop Entry]
Type=Application
Name=Punycode Indicator
Name[ru]=Индикатор Punycode-конвертер
Icon=indicator-punycode
Exec=/usr/share/indicator-punycode/indicator-punycode.py
Categories=Utility;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=0
