Source: indicator-test
Maintainer: Bernard Giannetti <thebernmeister@hotmail.com>
Section: python
Priority: optional
Build-Depends: python3 (>= 3.6), debhelper (>= 11), dh-python
Standards-Version: 4.1.3
X-Python3-Version: >= 3.6

Package: indicator-test
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, gir1.2-appindicator3-0.1, python3-gi, python3-notify2, python3-pip
Description: Testing indicator stuff.
 Extended description to satisfy lintian.
