# To validate this file:
#   desktop-file-validate indicatorvirtualbox.py.desktop
#
# To install or update this file, although the
# operating system should update by default and
# certainly will update on a logout/login or restart:
#   xdg-desktop-menu install --novendor indicatorvirtualbox.py.desktop
[Desktop Entry]
Type=Application
Name=Indicator VirtualBox™
Name[ru]=Индикатор VirtualBox™
Icon=indicatorvirtualbox
Exec=sh -c "\$HOME/.local/bin/indicatorvirtualbox.sh"
Categories=Utility
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=0