Source: indicator-script-runner
Maintainer: Bernard Giannetti <thebernmeister@hotmail.com>
Section: python
Priority: optional
Build-Depends:
 debhelper (>= 11),
 dh-python,
 python3 (>= 3.6)
Standards-Version: 4.1.3
Homepage: https://launchpad.net/~thebernmeister/+archive/ubuntu/ppa
X-Python3-Version: >= 3.6

Package: indicator-script-runner
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 gir1.2-ayatanaappindicator3-0.1 | gir1.2-appindicator3-0.1,
 python3-gi,
 python3-notify2
Description: Run a terminal command or script from an indicator.
 The user can specify a terminal command or script with parameters and use
 the mouse (or keyboard shortcut where applicable) to execute the
 command/script rather than opening a terminal.
 Optionally the results can be displayed in the icon label.
