Source: fortune-indicator
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python,
 python-support (>= 0.6.4),
 python-distutils-extra (>= 2.10)
Maintainer: Andrea Azzarone <aazzarone@hotmail.it>
Standards-Version: 3.8.3
XS-Python-Version: current

Package: fortune-indicator
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 python-appindicator,
 python-xdg,
 desktopcouch,
 python-notify,
 python-gobject,
 python-launchpad-integration,
 python-distutils-extra,
 python-gtk2,
 fortune-mod
Description: A little appindicator that shows "fortune cookies" by notify OSD.
 UNKNOWN
