Source: indicator-ppa-download-statistics
Maintainer: Bernard Giannetti <thebernmeister@hotmail.com>
Section: python
Priority: optional
Build-Depends: python (>= 3.2), debhelper (>= 7)
Standards-Version: 3.9.3
X-Python3-Version: >= 3.2

Package: indicator-ppa-download-statistics
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python-appindicator, python-launchpadlib
Description:  Application indicator to display PPA download statistics.
