Source: indicator-virtual-box
Maintainer: Bernard Giannetti <thebernmeister@hotmail.com>
Section: python
Priority: optional
Build-Depends: python3 (>= 3.2), debhelper (>= 7)
Standards-Version: 3.9.3
X-Python3-Version: >= 3.2

Package: indicator-virtual-box
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python-appindicator, python3-gi, wmctrl
Description: Application indicator which displays/controls VirtualBox virtual machines.
