Source: indicator-stardate
Maintainer: Bernard Giannetti <thebernmeister@hotmail.com>
Section: python
Priority: optional
Build-Depends: python (>= 2.7), debhelper (>= 7)
Standards-Version: 3.9.3
X-Python-Version: >= 2.7

Package: indicator-stardate
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-appindicator
Description: Application indicator which displays the current stardate.
